body {
    background-color: rgba(143, 172, 172, 0.13)!important;
    font-family: sans-serif;
    color: rgba(0, 8, 38, 0.8);
}


/* INÍCIO NAVBAR */

header { 
    background-color: white;
    border-bottom:  0.5px solid rgba(16, 17, 17, 0.13);
}

.navbar {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.nav-item { 
    color: rgba(0, 8, 38, 0.8);
    font-weight: 700;
    display: flex;
    align-items:center;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    border: 2px solid white;
    line-height: 2.7;
    transition: color 0.5s ease 0s, font-weight; 
}

.nav-item:hover {
    color: rgb(231, 48, 94)!important;
    border-bottom: 2px solid rgb(231, 48, 94); 
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px; 
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}


/* INÍCIO BODY */

.top-buffer {
    margin-top: 15px;
}

.titulo{
    font-size: 1.5rem;  
    font-weight: 700;

}

/* Configuração geral dos Cards */

.card {
    border-radius: 10px;
    border: 0.5px solid white;
    cursor: pointer;

}.card:hover {
    color: rgb(231, 48, 94);
    border: 1px solid;
}

.card-body {
    color: rgba(0, 8, 38, 0.8);
}
.card-body > a {
    font-weight: 700;
    color: #E63888;
}


/* INÍCIO FOOTER */

footer {
    margin-top: 10em;
    background-color: rgba(0, 8, 38, 0.8)!important;
    color: white;
}

hr{
    border-top: 1.5px solid rgba(197, 197, 197, 0.199);
}

#social-media ul li {
    padding: 2px;
    margin: 2px;
    text-decoration: none;
    color: red;
    display: inline;
}
#social-media ul li a{
    color: white;
    text-decoration: none;
}