body {
    background-color: rgba(177, 202, 202, 0.13)!important;
    font-family: sans-serif;
    color: rgba(0, 8, 38, 0.8);
}

header {
    background-color: white;
    border-bottom:  0.5px solid rgba(16, 17, 17, 0.13);
}
.info-logo {
    display: inline;
    text-align: center;
    font-size: 15px;
    margin: 20px 10px 0px 0px;
    padding: 20px;
}
.info-logo p {
    font-size: 13px;
}

.navbar {
    padding: 0;
    margin: 0;
    height: 5rem;
}

.nav-item {
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 2.9;
    transition: color 0.5s ease 0s, font-weight; 
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.nav-item:hover {
    color: rgb(231, 48, 94);
    border-bottom: 2px solid rgb(231, 48, 94);
}


/* FIM NAVBAR */


h5{  
    margin-top: 25px;
    margin-bottom: 15px;

}
.card {
    padding: 0;
    width: 36em;
    height: 10em;
    border-radius: 10px;
    border: hidden;

}
.card:hover {
    color: rgb(231, 48, 94);
    border: 1px solid;
}

.card .card-body > a {
    color: rgba(0, 8, 38, 0.8)!important;
    text-decoration: none;
    
}
.card b span{
    color: #E63888;
    margin: 10px;
    padding: 10px;
    line-height: 4.0;
}
