body {
    background-color: rgba(143, 172, 172, 0.13)!important;
    font-family: sans-serif;
    color: rgba(0, 8, 38, 0.8);
}

/* Início Navbar */

header {
    background-color: white;
    border-bottom:  0.5px solid rgba(16, 17, 17, 0.13);
}
.info-logo {
    display: inline;
    text-align: center;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}
.info-logo p {
    font-size: 14px;
}

.navbar {
    padding: 0;
    margin: 0;
    height: 5rem;
}

.nav-item {
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 2.9;
    border: 0.5px solid white;
    transition: color 0.5s ease 0s, font-weight; 
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.nav-item:hover {
    color: rgb(231, 48, 94);
    border-bottom: 2px solid rgb(231, 48, 94);
}

/* FIM NAVBAR */

/* Início Body */

h5{  
    margin-top: 25px;
    margin-bottom: 15px;

}
/* Config geral dos Cards */

.card {
    border-radius: 10px;
    border: 0.5px solid white;
    cursor: pointer;
    display: flex;
}.card:hover {
    color: rgb(231, 48, 94);
    border: 1px solid;
}

/* Card Score */

.card-score {
    padding: 0;
    width: 36em;
    height: 9em;
}

.card-score .card-body > a {
    color: rgba(0, 8, 38, 0.8)!important;
    text-decoration: none;
    
}
.card-score b span{
    color: #E63888;
    margin: 10px;
    padding: 10px;
    line-height: 2.7;
}
#score {
    margin-bottom: 2em;
}

.flex-consulta-score {
    display: flex;
    flex-wrap: wrap;
}
/* Card Consultas */

.card-consultas {
    padding: 0px;
    width: 22em;
    height: 15em;
    margin-left: 32px;
}

/* Card nome Limpo */

.flex-nomeLimpo-receita {
    display: flex;
    flex-wrap: wrap;
}

.card-nomeLimpo {
    padding: 0px;
    width: 17em;
    height: 11em;
}


/* Card Situacao Receita */

.card-situacaoReceita{
    padding: 0px;
    width: 17em;
    height: 11em;
    margin-left: 32px;
    
}

